/* Montserrat Regular */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-icons{
    line-height: unset !important;
}
 /* Elementos HTML */   
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1{
    color: #4E5150;
    font-weight: 600;
}
h3{
    margin: 0.75rem 0rem;
    font-weight: 500;
    font-size: 1.125rem ;
}
h4{
    margin: 0px;
    font-weight: 500;
}
p{
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

/* Clases principales */

.checkout-header{
    margin: 4rem auto 0 auto;
    padding: 0 0.8125rem 0 0.8125rem;

}

.checkout-container{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0.8125rem 0 0.8125rem;
    justify-content: space-between;
}

  


/* Clases Formulario */
.form-details{
    display: flex;
    flex-direction: column;
    
    margin-top: 1.68rem;
    margin-bottom: 7rem;
}
.shInfo-container{
    margin-top: 3.6rem;
    margin-bottom: 2rem;
}
contactInfo-container{
    margin-top: 3.6rem;
}
.input-field{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.input-containter{
    margin-top: 1rem;
}
.input-containter > label{
    color: #4F4F4F;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
.input-field > input{
    font-weight: 500;
    border: 1px solid #828282;
    border-radius: 0.8125rem;
    max-height: 3.5rem;
    font-size: 1rem;
    padding:1rem;
    padding-left: 3rem;
    
}

.input-field >input:focus{
    border-color: #F2994A;
    box-shadow: rgba(242, 153, 74, 0.25) 0px 1px 1px, rgba(242, 153, 88, 0.13) 0px 0px 1px 1px;
    outline: 0 none;
    
}

.icon {
    color:#828282;
    padding: 0.75rem;
    position: absolute !important;
}

.location-container{
    display: grid;
    grid-template-columns: minmax(160px, 1fr)minmax(160px, 1fr);
    gap: 2rem;
}
.btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    
}
.btn > input{
    background-color: #F2994A;
    color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 0.8125rem;
    border: none;
    cursor: pointer;

}
.btn:hover > input {
    background-color: #F9B986;
}

.btn:active > input {
    background-color: #DC8B43;
}

.check-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0 0.5rem 2rem;
    margin: 1.25rem 0;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
  }
.checkmark {
    position: absolute;
    left: 0;
    border: 1px solid #828282;
    border-radius: 0.25rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffffff;

  }

  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .check-container:hover input ~ .checkmark {
    background-color: #F2F2F2;
  }
  
  .check-container input:checked ~ .checkmark {
    background-color: #F2994A;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .check-container .checkmark:after {
    left: 5.6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  

/* Clases Carrito*/
.car-checkout{
    margin-top: 1rem;
    
    max-height: 535px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    border-radius: 0.8125rem;
}

.product-container{
    color: #4E5150;
    
    display: flex;
    flex-direction: row;
    padding: 2rem 3.97rem 0rem 1.8125rem;
    justify-content: flex-start;

}
.item-content{
    Display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-width: 8.39rem;
}
.product-container .item-info {
    
}

.item-price{
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}
.item-price > p:first-child{
    color: #F2994A;
}
.item-price > p:last-child{
    text-decoration: line-through;
    font-size: 0.75rem;
    padding-left: 0.5rem;
}

.product-container .add-item{
    display: inline-flex;
    align-items: center;
    border: solid 1px #828282;
    justify-content: space-evenly;
    border-radius: 0.75rem;
    max-width: 8.39rem;
}
.product-link > img{
    object-fit: cover;   
    height: 124.64px;
    width: 122.75px;
    border-radius: 0.8125rem;
    margin-right: 1.2rem;
    vertical-align: top;

}
.amounts-details{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
    padding: 1rem 1.8125rem;
}
.shipping-detail{
    border-top: solid 1px #BDBDBD;
    border-bottom: solid 1px #BDBDBD;
    ;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}
.total-detail{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.add-item > button{
    background-color: #E0E0E0;
    color: #828282;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0px 2px;

}

.add-item > button:hover{
    color: #ffffff;
    background-color: #F2994A;
}
.add-item > button:active{
    
    background-color: #DC8B43;
}

.add-item >span{
    background-color: #F2F2F2;
    font-weight: 600;
    border-radius: 0.8125rem;
    padding: 1rem 1rem;
    border: none;
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 0.78em;
    }
    .check-container .checkmark:after {
        left: 4px;
        top: 1px;
      }
}

@media only screen and (min-width: 992px) {
    .checkout-header{
        margin: 4rem auto 0 auto;
        max-width: 60rem;
    }
    .checkout-container {
        flex-direction: row;
        max-width: 60rem;
    }
    .form-details{
        margin-top: 1rem;
        max-width: 29rem;
        
    }
    .car-checkout{
        margin-top: 2.25rem;
        max-width: 23.93rem;
    }
  }